
 
  
  .cover-image {
    max-width: 200px;
    height: auto;
    margin-right: 10px;
    float: left;
  }
  
  .feed-entry {
    background-color: #a4c678;
    border-radius: 10px;
    height: 176px;
    overflow: hidden;
    position: relative;
    width: 368px;
  }
  
  .feed-entry .cover-image {
    height: 132px;
    left: 29px;
    position: absolute;
    top: 22px;
    width: 92px;
  }
  
  .feed-entry .title {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 136px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 21px;
  }
  
  .feed-entry .description {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 136px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 47px;
  }
  