.feed-entry::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .feed-entry {
    position: relative;
    width: 100%;
    display: inline-flex;
    padding: 10px 35px 0px 28px;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
    min-height: 236px;
    
    justify-content: space-between; /* Add this line */
}
  
  .cover-image {
    max-width: 200px;
    height: auto;
    margin-right: 10px;
    float: left;
  }
  
  .my-title-class {
    width: auto;
    color: #000;
font-family: Futura;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 30px;
margin-right: 30px;
margin-bottom: 65px;
max-width: 500px;
  }
  
  .my-link-class {
    display: flex;
    width: 100%; /* Add this line */
    height: 35px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #464444;
    font-family: Futura;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: auto; /* Add this line */
    margin-bottom: 15px;
}

  .feed-entry p {
    margin: 0;
  }

  .my-author-class {
    position: absolute;
    width: 280px;
    color: #000;
font-family: Futura;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
bottom: 75px;
  }


  .my-svg-class {
    position: absolute;
    bottom: 50px;
    
  }

  .my-button-class {
    position: absolute;
    left: 530px;
    top: 50%;
    transform: translateY(-50%);
  }
  
/* 
FullviewCSS */

.full-view {
  position: relative;
  width: 100%;
  display: inline-flex;
  padding: 10px 35px 0px 28px;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 0px;
  min-height: 236px;
  
  }
  
 .full-view-title {
  width: auto;
  color: #000;
font-family: Futura;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 30px;
margin-right: 30px;
margin-bottom: 65px;
max-width: 500px;
} 

.image-container {
  position: relative;
  display : flex;
  align-items: center;
  justify-content: center;
  width: 110%; /* Set to the width you want */
  min-width: 400px;
  height: 500px; /* Set to the height you want */
  overflow: hidden;
  margin: -10px -35px -10px -28px;
  
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  mix-blend-mode: multiply;
}

.full-view-image {
  width: 100%;
  height: auto;
  filter: grayscale(100%);

  
}